<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>

<% if @matched_events %>
  <% @matched_events.each do |show| %>
    <div class="band">
      <img class="band-photo" src="<%= show[:image] %>" alt="http://i0.kym-cdn.com/entries/icons/original/000/021/065/gudetama.png">
    </div>

    <div class="show-details">
      <ul>
        <li><%= show[:title] %></li>
        <li><%= show[:time] %></li>
        <li><%= show[:venue] %></li>
        <li><a href="<%= show[:link] %>"><img src="https://lh3.googleusercontent.com/8fNs6Rl3WXCiHqp3OgCPze8YnDi3bKpbMV41oWmDi01hcDtyz9w3xIcdjKFZqGCwhw=w300" alt="songkick" id="songkick"></a></li>
      </ul>
    </div>

    <div id="border">
    </div>
  <% end %>
<% end %>
