<!DOCTYPE html>
<html>
  <head>
    <title>Placeholder</title>
      <%= csrf_meta_tags %>
      <script src="https://use.fontawesome.com/b8e8100710.js"></script>
      <script
        src="https://code.jquery.com/jquery-1.12.4.min.js"
        integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
        crossorigin="anonymous"></script>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <link href="https://fonts.googleapis.com/css?family=Quicksand|Fontdiner+Swanky" rel="stylesheet">
  </head>

  <body>
    <div id="user-info"></div>

    <div class="row">
      <div class="row nav-bar">
        <div class="twelve columns">
          <nav>
            <ul>
              <% if !@index_view %>
                <li><%= link_to image_tag("logo.png", :alt => "home"), root_path, class: "logo" %></li>
                <li class="searchbar-in-navbar"><%= render "searchbar" %></li>
              <% end %>

              <% if user_signed_in? %>
                <li class="user-link"> <%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
                <li class="user-link"> <%= link_to("my profile", user_path(current_user.id)) %></li>
              <% else %>
                <li class="user-link"><%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %></li>
                <li class="user-link"><%= link_to "Sign up", new_user_registration_path %></li>
                <li class="user-link"><%= link_to "Sign in", new_user_session_path %></li>
              <% end %>
            </ul>
          </nav>
      </div>
    </div>

    <div id="container">
      <p class="notice"><%= notice %></p>
      <%= yield %>
    </div>
  </body>
</html>
