<!DOCTYPE html>
<html>
  <head>
    <title>Placeholder</title>
      <%= csrf_meta_tags %>
      <script src="https://use.fontawesome.com/b8e8100710.js"></script>
      <script
        src="https://code.jquery.com/jquery-1.12.4.min.js"
        integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
        crossorigin="anonymous"></script>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  </head>

  <body>
    <div id="notify">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>

    <div class="row">
    <div class="row nav-bar">
      <div class="twelve columns">
        <nav>
          <ul style="list-style: none;">
            <% if !@index_view %>
            <li><%= link_to image_tag("bat.png", :alt => "home"), root_path, class: "logo" %></li>
            <li class="searchbar-in-navbar"><%= render "searchbar" %></li>
            <% end %>

              <!-- <div id="user-info"> -->

            <% if user_signed_in? %>
              <%#= current_user.name %>
              <li class="user-link"> <%= link_to 'Sign out', destroy_user_session_path, method: :delete %> </li>
              <li class="user-link"> <%= link_to(current_user.email, user_path(current_user.id)) %> </li>
            <% else %>
              
              
              <li class="user-link"><%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %> </li>
              <li class="user-link"><%= link_to "Sign up", new_user_registration_path %> </li>
              <li class="user-link"><%= link_to "Sign in", new_user_session_path %> </li>

            <% end %>


              <!-- </div> -->

          </ul>
        </nav>

    </div>  <!-- row -->
    </div>  <!-- navbar -->


    <div class="main">
      <%= yield %>
    </div>

    <footer class="footer">
      <p>THIS IS THE FOOTER</p>
    </footer>

  </body>
</html>
